/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  pointer-events: none; /* To prevent cursor from blocking clicks */
}

.cursor-label {
  position: absolute;
  left: 15px; /* Offset the label slightly from the cursor */
  top: -5px;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent background for the label */
  color: white;
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 3px;
  font-family: sans-serif;
}
